<html>
	<link type='text/css' rel='stylesheet' href='css/material_icons.css'/>
	<link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
	<script type='text/javascript' src="js/angular.js"></script>
	<script type='text/javascript' src='js/jquery.js'></script>
	<script type='text/javascript' src='js/materialize.js'></script>
	<script type='text/javascript' src='js/nibApp.js'></script>
  <body ng-app='nibApp' ng-controller='dropdownController'>
  	  <a class="btn-floating btn-large red" ng-click='msg()'><i class="material-icons">add</i></a>
    <div ng-repeat='animal in animals'>
    	<p>{{animal}}</p>
    </div>
  </body>
</html>
