.header {
	color: #ee6e73;
	font-size: 1.64rem;
	margin: -0.18rem 0 0 0;
	/*padding-bottom: 6px;*/
	line-height: 15%;

}

#addNew {
  display:inline;
}

.project {
  display:block;
  border-bottom: 1px solid grey;
}

.projectLinks {
  display:inline;
  float:right;
}

.projectName {
  display:inline;
  padding-left: 3px;
}

#app_body {
	padding: 5px;
	margin: 5px;
}

#app_body .button {
	margin: 3px;
}

#projects {
	padding-top: 5px;
}

.button {
	height: 100%;
}
