#addNewProject {
  display:inline;
}
.project {
  display:block;
}
.projectLinks {
  display:inline;
  float:right;
}
.projectName {
  display:inline;
  padding-left: 3px;
}

#app_body {
	padding: 5px;
	margin: 5px;
}

#app_body button {

}

#projects {
	padding-top: 5px;
}

